:root {
  --accent-font: 'Shadows Into Light', cursive;
  --base-font-family: 'Lora', serif;
  --gutter: 20px;
  --accent-color: gold;
  --light-color: #ccc;
  --lighter-color: #fff;
  --dark-color: #2e2e2e;
  --darker-color: #000;
}
