.main {
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      rgba(var(--light-color-rgb), 0.85),
      rgba(var(--darker-color-rgb), 0.85)
    ),
    url('/assets/images/pokemons.jpg');

  &__description {
    padding: 50px;
  }

  &__title {
    text-align: center;
    margin-top: 0;
    font: 700 72px var(--accent-font-family);
    margin-bottom: 30px;
    color: var(--accent-color);
    width: 100%;
  }

  &__text {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 500px;

    p {
      font: 700 24px var(--base-font-family);
      color: var(--lighter-color);
      line-height: 2;
      margin-top: 0;
      margin-bottom: 0;

      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
  }
}
