.main {
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:
    linear-gradient(rgba(65, 65, 75, 0.85), rgba(0, 0, 0, 0.85)),
    url('./../../../assets/images/homeImg.jpg');

  &__description {
    padding: 50px;
  }

  &__title {
    text-align: center;
    margin-top: 0;
    font: 700 72px var(--accent-font-family);
    margin-bottom: 30px;
    color: var(--accent-color);
    width: 100%;
  }

  &__text {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 500px;

    p {
      font: 700 24px var(--base-font-family);
      color: var(--lighter-color);
      line-height: 2;
    }
  }
}
