.main {
  display: grid;

  &__container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 560px;
    gap: 16px;
  }

  &__title {
    width: 100%;
    display: block;
    font: 700 42px var(--base-font-family);
  }
}

.buttonBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.button {
  height: 100px;
  width: 100px;
}

.exportButton {
  display: inline-block;
  width: 100px;
}
